.container{
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-rows: 100%;
    width: 340px;
    gap: 2rem;
    
    

    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right:700px;
    background-color: rgb(163, 187, 209);
}
.img-1{
    width: 340px;
    height: 200px;
    margin-left: -20px;
    margin-right: -49px;
    margin-top: -20px;
    border-radius: 10px;
}

.list-1{
    box-shadow:1px 1px 3px 4px purple;
    padding: 20px;
    height: 540px;
    border-radius: 10px;
    background-color: antiquewhite;
    
    
}
.list-1 h1{
    color: rgba(89, 77, 77, 0.902);
    font-style: italic;
}
.list-1 p{
    color: rgba(128, 128, 128, 0.89);
    font-style: oblique;
}
.img-2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 10px;
}
.in{
    display: flex;
    justify-content: space-around;
    
}
.in-2{

    margin-top: 24px;
    margin-left: -90px;
}
.in-3{
    margin-top: 24px;
    margin-right: -40px;
}
.list-2{
    box-shadow:1px 1px 3px 4px purple;
    padding: 20px;
    height: 540px;
    border-radius: 10px;
    background-color: antiquewhite;
}
.img-4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.img-3{
    width: 340px;
    height: 200px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -29px;
    border-radius: 10px;
}
.list-2 h1{
    color: rgba(128, 128, 128, 0.65);
    font-style: italic;
}
.list-2 p{
    color: rgba(128, 128, 128, 0.854);
    font-style: oblique;
}
.im{
    display: flex;
    justify-content: space-around;
}
.im-1{
    margin-right: -50px;
    margin-top: 8px
}
.im-2{
    margin-top: 20px;
}
.im-3{
    margin-top: 20px;
}
.list-3{
    box-shadow:1px 1px 3px 4px purple;
    padding: 20px;
    border-radius: 10px;
    height: 540px;
    background-color: antiquewhite;
}
.img-5{
    width: 340px;
    height: 204px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -30px;
    border-radius: 10px;
}
.list-3 h1{
    color: rgba(128, 128, 128, 0.632);
    font-style: italic;
}
.list-3 p{
    color: rgba(128, 128, 128, 0.72);
}
.img-6{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.ib{
    display: flex;
    justify-content: space-around;

}
.ib-2{
    margin-left: -50px;
    margin-top: 10px;
}
.ib-3{
    margin-top: 10px;
}